<p-toast key="loginToast" position="top-center"></p-toast>
<p-card header="Login">
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
  <div class="p-grid">
    <div class="p-col-4">
      <label>username:</label><br/>
      <input pInputText formControlName="username"/>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>

    <div class="p-col-4">
      <label>password:</label><br/>
      <input type="password" pInputText formControlName="password" />
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>

    <div class="p-col-4">
      <p-button label="login" type="submit"></p-button>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>

    </div>
  </form>
</p-card>
